.col-sm-2(class="dayforecast-card")
    .col.panel.panel-default
        .forecast-header.panel-title.panel-heading(style="font-family:Helvetica")
            span(style='display:inline-block;min-width:30%') &nbsp
            span(style='display:inline-block;min-width:30%')
            span(style='display:inline-block;min-width:30%') &nbsp


        .panel-body.varela(style='padding:0px')
            div(style='vertical-align: top;width:50%;height:70px;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc; display:inline-block')
                .wi(style='font-size:40px; width:100%; text-align:center; padding-top:10px')
            div(style='width:50%;height:70px; border-bottom: 1px solid #ccc; display:inline-block')
                div.avg-year-trend-temp(style='width:100%;font-size:28px;text-align:center; padding-top:15px') &nbsp
                    sup
                        small &nbsp
            div(style='vertical-align: top;width:50%;height:70px;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc; display:inline-block')
                .wi(style='font-size:40px; width:100%; text-align:center; padding-top:10px')
            div(style='width:50%;height:70px; border-bottom: 1px solid #ccc; display:inline-block')
                div.avg-year-trend-temp( style='width:100%;font-size:28px;text-align:center; padding-top:15px') &nbsp
                    sup
                        small &nbsp

            div(style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none; display:inline-block')
                div.wi.wi-barometer.wi-inactive(style='width:100%;')
            div(style='padding-top:5px;height:35px;width:25%; border: none; display:inline-block')
                div(style='text-align:center')
                    span.wi.wi-na
            div(style='padding-top:5px;height:35px;width:25%; border: none; display:inline-block')
                div(style='text-align:center')
                    span.wi.wi-na
            div(style='padding-top:5px;height:35px;width:25%; border: none; display:inline-block')
                div(style='text-align:center')
                    span.wi.wi-na

            div(style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none;border-top: 1px solid #ccc; display:inline-block')
                div.wi.wi-humidity.wi-inactive(style='width:100%;')
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(style='text-align:center')
                    span.wi.wi-na
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(style='text-align:center')
                    span.wi.wi-na
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(style='text-align:center')
                    span.wi.wi-na
            div(style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none;border-top: 1px solid #ccc; display:inline-block')
                div.wi.wi-thermometer.wi-inactive(style='width:100%;')
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(class=minTClass,style='text-align:center')
                    span.wi.wi-na
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(class=avgTClass,style='text-align:center')
                    span.wi.wi-na
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(class=maxTClass,style='text-align:center')
                    span.wi.wi-na

            div(style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none;border-top: 1px solid #ccc; display:inline-block')
                .wi.wi-sunrise(style="color:#ccc;padding-top:0px; padding-left:3px;font-size:18px;padding-left:5px;")
            div(style='text-align:center;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(style="padding-top: 8px;font-size:smaller;padding-right:3px")
                    span.wi.wi-na
            div(style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none;border-top: 1px solid #ccc; display:inline-block')
                .wi.wi-sunset(style="color:#ccc; padding-left:6px;font-size:18px;")
            div(style='text-align:center;padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(style="padding-top: 3px;font-size:smaller;padding-right:3px")
                    span.wi.wi-na
            //div(style='height:35px;width:100%;vertical-align:top;padding-top:8px;border-right: none;border-top: 1px solid #ccc; display:inline-block')
                //.uv(style="color:#000;padding-top:0px; padding-left:3px;font-size:18px;padding-left:5px;")
                center
                    span.wi.wi-na
            //div(style='text-align:center;height:35px;width:50%; border-top: 1px solid #ccc; display:inline-block')
                div(style="font-size:smaller; padding-top:5px; font-size:24px")
                    span.wi.wi-na
            //div(style='text-align:center;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(style="font-size:smaller; padding-top:5px; font-size:24px") &nbsp;



