//
   Created by Denis on 14.04.2017.

form(method="POST", action="/users/register")
    input(type="text", placeholder="NAME", name="login", style="display:block")
    input(type="password", placeholder="password", name="password", style="display:block")
    input(type="submit", value="Отправить", style="display:block")
