//
   Created by Denis on 01.04.2017.
.panel.panel-default.widget(style="width:86% !important; float:left; margin-right:7px; margin-left:7px;")
    .panel-heading
        h3.panel-title
            center Календарь
    .panel-body
        .content.row
            .col-md-10
                include ../graphs/avgYearTemperature