.panel.panel-default.widget(style="width:64% !important; float:left; margin-right:7px; margin-left:7px;")
    .panel-heading
        h3.panel-title
            center Годовая ежемесячная вариативность метеопоказателей
    .panel-body
        .content.row
            .col-md-10
                include ../graphs/avgYearTemperatureVariation

