//
   Created by Denis on 01.04.2017.
details(open).panel.panel-default.widget
    summary.panel-heading.panel-title &nbsp;
    .panel-body
        include humidity
        include pressure
        include temperature
        include dp
        include uv
        include lx





