//
   Created by Denis on 01.04.2017.
details.panel.panel-default.widget
    summary.panel-heading.panel-title Температура и Влажность
    .panel-body
        .content.row
            .col-md-10
                include ../graphs/temperaturehumidity