.content.row
    .col-md-4.center
        include ../graphs/temperature
    .col-md-5.value.center(style="position: relative; padding-top: 25px; font-size: 20px; left: 22.5%; width: 98px;")=widgetsDataset.temperature.last
        small.varela(style='font-size:10px')
            .varela.wi.wi-celsius