//
   Created by Denis on 01.04.2017.
.content.row
    .col-md-4.center(style="z-index:2000")
        include ../graphs/uv
    .col-md-5.value.center(style="position: relative; padding-top: 25px; font-size: 20px; width: 192px; padding-left: 0px; left: 10.5%;")=widgetsDataset.uv.last
        small.varela(style='font-size:10px')
            .unit(style="display:inline; width: 26px; position: absolute; top: 10px; left: 62%;") &nbsp;
                small.varela(style='font-size:10px; border-bottom:1px solid black;display:block') мкВт
                small.varela(style='font-size:10px;display:block') м
                    sup 2