//
   Created by Denis on 01.04.2017.
#avgDayTemperatureChartColored
table
    thead
        tr
            td Пн
            td Вт
            td Ср
            td Чт
            td Пт
            td Сб
            td Вс
    tbody
        each row in [[1,2,3,4,5,6,7],[1,2,3,4,5,6,7],[1,2,3,4,5,6,7]]
            tr
                each cell in row
                    td #{cell}
