//
   Created by Denis on 01.04.2017. 
.none(style="display: block; width: 100%")
    #uvChart(style="width:100%;")
        .name(style="position:absolute") УФ-индекс
        div(style="width:100%;", data-sparkline=sparklines.uv.join(', '))
    
